@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.pointer-cursor {
    cursor: pointer;
}

.show-dialog-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(45 41 41 / 0.5);
    backdrop-filter: blur(2px);
}

.spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .spinner div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #2099c6;
        border-radius: 50%;
        animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #2099c6 transparent transparent transparent;
    }

        .spinner div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .spinner div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .spinner div:nth-child(3) {
            animation-delay: -0.15s;
        }

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form-border {
    border: 1px #c2f2fb solid !important;
}

.border-bottom-solid {
    border-bottom: 1px #c2f2fb solid;
}

    .border-bottom-solid:hover {
        background-color: rgba(33,150,243,0.058823529411764705);
    }

.footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
}

/*header {
    background-color: rgba(33,150,243,0.058823529411764705) !important;
}

    header .header-h1 {
        color: #2099c6;
    }*/

body, html {
    height: 100%;
    margin: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.buttons-succes {
    color: #fff;
    background-color: #2099c6;
    border-color: #2099c6;
    transition: transform 0.4s ease;
}

    .buttons-succes:hover {
        color: #fff;
        background-color: #2099c6ad;
        border-color: #2099c6ad;
        transform: scale(1.1);
    }

.buttons-danger {
    color: #fff;
    background-color: #cf5256;
    border-color: #cf5256;
    transition: transform 0.4s ease;
}

    .buttons-danger:hover {
        color: #fff;
        background-color: #cf5256b8;
        border-color: #cf5256b8;
        transform: scale(1.1);
    }

.hover-grow {
    transition: transform 0.4s ease;
}

    .hover-grow:hover {
        transform: scale(1.1);
        /*color: #2099c6 !important;*/
    }

.selected-grow {
    transform: scale(1.1);
    /*    background-color: rgba(33,150,243,0.058823529411764705) !important;
    border-color: rgba(33,150,243,0.058823529411764705) !important;*/
    color: #2099c6 !important;
}

.tabel-design {
    border: 1px solid #c2f2fb;
}

.tabel-row-design:hover {
    background-color: red !important;
}

.tabel-row-selected {
    background-color: rgba(33,150,243,0.058823529411764705) !important;
}

.table thead tr th {
    border-bottom: 1px solid !important;
}

.form-titles {
    font-weight: bolder;
}

.container, .container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.main-content {
    background-color: #e9eff1;
    background-image: url('../../images/backgroundTriangles.png');
    background-size: cover;
}

.card h4 {
    text-align: center;
}

.card p {
    text-align: center;
}
