@page "/"
@page "/dashboard"

@using AllPhi.HoGent.Blazor.Components
@using AllPhi.HoGent.Blazor.Services
@using AllPhi.HoGent.Blazor.Dto
@using AllPhi.HoGent.Blazor.Dto.Enums

@using ChartJs.Blazor.Common
@using ChartJs.Blazor.Common.Axes
@using ChartJs.Blazor.Common.Axes.Ticks
@using ChartJs.Blazor.Common.Enums
@using ChartJs.Blazor.Common.Handlers
@using ChartJs.Blazor.Common.Time
@using ChartJs.Blazor.PieChart
@using ChartJs.Blazor.Util
@using ChartJs.Blazor.Interop





@inject IDriverServices _driverServices
@inject IVehicleServices _vehicleServices
@inject IFuelCardServices _fuelCardServices
@inject IFuelCardDriverServices _fuelCardDriverServices
@inject IDriverVehicleServices _driverVehicleServices

<PageTitle>Dashboard</PageTitle>
@if (_isLoading)
{
    <LoadingSpinner IsLoading="@_isLoading" />
}
else
{
     <div class="block block-rounded">
        <div class="block-header">
            <h3 class="block-title">Dashboard Analytics</h3>
        </div>
        <div class="block-content">
            <div class="row">
                <div class="col-md-4">
                    <h4>Drivers</h4>
                    <Chart Config="@_driversChartConfig" Width="200" Height="200" />
                </div>
                <div class="col-md-4">
                    <h4>Vehicles</h4>
                    <Chart Config="@_vehiclesChartConfig" Width="200" Height="200" />
                </div>
                <div class="col-md-4">
                    <h4>Fuel Cards</h4>
                    <Chart Config="@_fuelCardsChartConfig" Width="200" Height="200" />
                </div>
            </div>
        </div>
    </div>
}


@code {

    

    private bool _isLoading = true; 
    private PieConfig _driversChartConfig;
    private PieConfig _vehiclesChartConfig;
    private PieConfig _fuelCardsChartConfig;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => InitializeCharts());
        _isLoading = false; 
    }

    private void InitializeCharts()
    {
        _driversChartConfig = GetChartConfig("Drivers", new int[] { 30, 70 }, new string[] { "#FF6384", "#36A2EB" });
        _vehiclesChartConfig = GetChartConfig("Vehicles", new int[] { 50, 50 }, new string[] { "#FFCE56", "#FF6384" });
        _fuelCardsChartConfig = GetChartConfig("Fuel Cards", new int[] { 85, 15 }, new string[] { "#36A2EB", "#FFCE56" });
    }

    private PieConfig GetChartConfig(string label, int[] data, string[] backgroundColors)
    {
        var config = new PieConfig(true)
            {
                
                
                Options = new PieOptions
                {
                    Responsive = true,
                    Title = new OptionsTitle
                   
                    {
                        Display = true,
                        Text = label + " Distribution"
                    }
                }
            };



        config.Data.Labels.Clear();  
        foreach (var status in new[] { "Active", "Inactive" })  
        {
            config.Data.Labels.Add(status);
        }

        var dataset = new PieDataset<int>(data)
            {
                BackgroundColor = new[]
            {
            ColorUtil.ColorHexString(255, 99, 132), // Slice 1 aka "Red"
            ColorUtil.ColorHexString(255, 205, 86), // Slice 2 aka "Yellow"
            ColorUtil.ColorHexString(75, 192, 192), // Slice 3 aka "Green"
            ColorUtil.ColorHexString(54, 162, 235), // Slice 4 aka "Blue"
        }
            };

        config.Data.Datasets.Add(dataset);

        return config;
    }
}

