@page "/fuelcards"

@using AllPhi.HoGent.Blazor.Dto.Enums
@using AllPhi.HoGent.Blazor.Services
@using AllPhi.HoGent.Blazor.Dto
@using AllPhi.HoGent.Blazor.Components

@inject IFuelCardServices _fuelCardService
@inject IDriverServices _driverService
@inject IVehicleServices _vehicleService
@inject IFuelCardDriverServices _fuelCardDriverService
@inject IDriverVehicleServices _driverVehicleService

<PageTitle>FuelCards</PageTitle>


@if (_isLoading)
{
    <LoadingSpinner IsLoading="@_isLoading" />
}


<DialogContainer Visible="_showDeleteConfirmation">
    <div class="modal d-flex justify-content-center align-items-center">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Verwijderen</h5>
                </div>
                <div class="modal-body">
                    <p>Bent u zeker dat u de tankkaart wilt verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="() => _showDeleteConfirmation = false">Neen</button>
                    <button type="button" class="btn btn-primary" @onclick="async () => { await DeleteFuelCard(_selectedFuelCardDto); }">Ja</button>
                </div>
            </div>
        </div>
    </div>
</DialogContainer>

@code {
    private bool _isLoading = true;

    private DriverListDto? _driverListDto;
    private FuelCardListDto? _fuelCardListDto;

    private int _pageNumber = 1;
    private int _pageSize = 5;
    private int _totalPages;
    private bool _isSortAscending = false;
    private string _currentSortColumn = "date";

    private bool _addNewFuelCard = false;
    private bool _selectedFuelCard = false;
    private bool _fuelCardUpdated = false;
    private bool _fuelCardDeleted = false;

    private bool _showSendConfirmation = false;
    private bool _showDeleteConfirmation = false;
    private bool _fuelCardAdded = false;
    private bool _error = false;

    private FuelCardDto _selectedFuelCardDto = new();
    private List<DriverDto> _checkedDriver = new();
    private List<FuelCardDriverDto> _fuelCardDriverDtos = new();

    public string ErrorTitle { get; set; } = string.Empty;
    public string ErrorMessage { get; set; } = string.Empty;



    protected override async Task OnInitializedAsync()
    {
        await LoadFuelCardListDto();
        _driverListDto = await _driverService.GetAllDriversAsync();
        _isLoading = false;
    }

    private async Task LoadFuelCardListDto()
    {
        _fuelCardListDto = await _fuelCardService.GetAllFuelCardsAsync(_currentSortColumn, _isSortAscending, _pageNumber, _pageSize);
        _totalPages = (int)Math.Ceiling((double)_fuelCardListDto.TotalItems / _pageSize);
    }

    private void AddNewFuelCard()
    {
        SetBoolDefault();

        _selectedFuelCard = false;
        _addNewFuelCard = true;
    }

    private void SetBoolDefault()
    {
        _showSendConfirmation = false;
        _fuelCardAdded = false;
        _error = false;
    }


    private async Task SelectFuelCard(FuelCardDto selectedCard)
    {
        _selectedFuelCardDto = selectedCard;
        _fuelCardDriverDtos = (await _fuelCardDriverService.GetFuelCardWithConnectedDriversByFuelCardId(_selectedFuelCardDto.Id)).Item1;
        var v = _fuelCardDriverDtos.Select(x => _driverListDto.DriverDtos.Where(r => x.DriverId == r.Id).ToList()).ToList();
        _checkedDriver = v.SelectMany(x => x.Select(x => x).ToList()).ToList();
        _showSendConfirmation = false;
        _selectedFuelCard = true;
        _addNewFuelCard = false;
        _fuelCardAdded = false;
        _fuelCardUpdated = false;
        _fuelCardDeleted = false;
        _error = false;
    }


    private async Task SaveNewUser(FuelCardDto fuelCardDto)
    {
        try
        {
            if (fuelCardDto is not null)
            {
                var (status, statusMessage) = await _fuelCardService.AddFuelCardAsync(fuelCardDto);

                var (statusRelatedDrivers, statusMessageRelatedDrivers) = await _fuelCardDriverService.UpdateFuelCardDriverAsync(fuelCardDto.Id, fuelCardDto.DriverDtos.Select(x => x.Id).ToList());

                if (!status)
                {
                    ErrorTitle = " Oei, er ging iets verkeerd tijdens het toevoegen.";
                    ErrorMessage = statusMessage;
                    _error = true;
                }
                else
                    _fuelCardAdded = true;

                _showSendConfirmation = true;
                await LoadFuelCardListDto();
                await InvokeAsync(StateHasChanged);
            }
        }
        catch (Exception ex)
        {
            ErrorTitle = " Oei, er ging iets verkeerd tijdens het toevoegen.";
            ErrorMessage = $"Excuses! Er ging iets verkeerd tijdens het toevoegen. Error: {ex.Message}";
            _error = true;
        }
    }

    private async Task UpdateSelectedUser()
    {
        try
        {
            if (_selectedFuelCardDto is not null)
            {
                var updatedFuelCard = await _fuelCardService.UpdateFuelCardAsync(_selectedFuelCardDto);

                var (statusRelatedDrivers, statusMessageRelatedDrivers) = await _fuelCardDriverService.UpdateFuelCardDriverAsync(_selectedFuelCardDto.Id, _checkedDriver.Select(x => x.Id).ToList());

                if (!updatedFuelCard || !statusRelatedDrivers)
                {
                    ErrorTitle = " Oei, er ging iets verkeerd tijdens het updaten.";
                    ErrorMessage = statusMessageRelatedDrivers;
                    _error = true;
                }
                else
                    _fuelCardUpdated = true;

                _showSendConfirmation = true;
                await LoadFuelCardListDto();
            }
        }
        catch (Exception ex)
        {
            ErrorTitle = " Oei, er ging iets verkeerd tijdens het bijwerken";
            ErrorMessage = $"Excuses! Er ging iets verkeerd tijdens het bijwerken. Error: {ex.Message}";
            _error = true;
        }
    }
    private async Task DeleteFuelCard(FuelCardDto fuelCardDto)
    {
        try
        {
            if (fuelCardDto is not null)
            {
                await _fuelCardService.DeleteFuelCardAsync(fuelCardDto.Id);

                _showSendConfirmation = true;
                _fuelCardDeleted = true;

                await LoadFuelCardListDto();
                await InvokeAsync(StateHasChanged);
            }
            _showDeleteConfirmation = false;
        }
        catch (Exception ex)
        {
            ErrorTitle = " Oei, er ging iets verkeerd tijdens het verwijderen";
            ErrorMessage = $"Excuses! Er ging iets verkeerd tijdens het verwijderen. Error: {ex.Message}";
            _error = true;
            _showDeleteConfirmation = false;
        }
    }
    private void CheckDriverChanged(DriverDto driverDto)
    {
        if (_checkedDriver.Contains(driverDto))
            _checkedDriver.Remove(driverDto);
        else
            _checkedDriver.Add(driverDto);
    }

    private void CheckFuelTypeChanged(FuelType fuelType)
    {
        if (_selectedFuelCardDto.FuelCardFuelTypesDto.Select(x => x.FuelType).Any(x => x == fuelType))
        {
            var existingFuelCardType = _selectedFuelCardDto.FuelCardFuelTypesDto.FirstOrDefault(x => x.FuelType == fuelType);
            _selectedFuelCardDto.FuelCardFuelTypesDto.Remove(existingFuelCardType);
        }
        else
        {
            _selectedFuelCardDto.FuelCardFuelTypesDto.Add(new FuelCardFuelTypeDto
                {
                    Id = Guid.NewGuid(),
                    FuelCardId = _selectedFuelCardDto.Id,
                    FuelType = fuelType
                });
        }

        InvokeAsync(StateHasChanged);
    }

    private async Task SortTable(string columnName)
    {
        _isLoading = true;
        if (_currentSortColumn == columnName)
        {
            _isSortAscending = !_isSortAscending;
        }
        else
        {
            _currentSortColumn = columnName;
            _isSortAscending = true;
        }

        await LoadFuelCardListDto();

        _isLoading = false;
    }

    private async Task HandlePageChanged(int page)
    {
        _pageNumber = page;
        await LoadFuelCardListDto();
    }

    private async Task HandleItemsPerPageChanged(int itemsPerPage)
    {
        _pageSize = itemsPerPage;
        await LoadFuelCardListDto();
    }
}

