<footer class="footer">
    <div class="">
        <div class="">
            <p class="mb-0 mt-2 mt-sm-0 text-900">
                All rechten voorbehouden.<span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1"></span><br class="d-sm-none" />@DateTime.Now.Year &copy;<a class="mx-1" href="https://www.allphi.eu/">AllPhi</a>
            </p>
        </div>
    </div>
</footer>

@code {

}
