<style>
    header {
        width: 100%;
    }
</style>

<header id="page-header" class="col-12 bg-body-light">
    <div class="p-2">
        <h1 class="header-h1" href=""><span class="fa-brands fa-phoenix-framework" style="color: #2099c6 "></span>AllPhi</h1>
    </div>
</header>


@code {

}
