@inject NavigationManager NavManager

<style>
    a {
        color: #000000c4 !important;
    }

    @@media (min-width:300px) and (max-width:1344px) 
    {
        .rounded {
            margin-top: 97px;
        }
    }

</style>

<div style="width: 240px; " >
    <div class="rounded text-info p-2" style="background-color:white; ">
        <div style="text-align:center;"
        <img src="images/AllphiLogoSymbolTransparant.png" style="width : 50px; height : auto;"/>
        </div>
        <hr class="my-2" />
        <a class="icon-color d-block text-decoration-none px-4 py-4 @(_selectedLink == "dashboard" || _selectedLink == "" ? "selected-grow" : "hover-grow")" @onclick='() => SelectLink("dashboard")' href="/">
            <i class="fa-solid fa-house fa-xl"></i> Dashboard
        </a>
        <a class="icon-color d-block text-decoration-none px-4 py-4 @(_selectedLink == "fuelcards" ? "selected-grow" : "hover-grow")" @onclick='() => SelectLink("fuelcards")' href="/fuelcards">
            <i class="fas fa-gas-pump fa-xl"></i> Tankkaarten
        </a>
        <a class="icon-color d-block text-decoration-none px-4 py-4 @(_selectedLink == "drivers" ? "selected-grow" : "hover-grow")" @onclick='() => SelectLink("drivers")' href="/drivers">
            <i class="fas fa-id-card fa-xl"></i> Bestuurders
        </a>
        <a class="icon-color d-block text-decoration-none px-4 py-4 @(_selectedLink == "vehicles" ? "selected-grow" : "hover-grow")" @onclick='() => SelectLink("vehicles")' href="/vehicles">
            <i class="fas fa-car-side fa-xl"></i> Wagens
        </a>
    </div>
</div>



@code {
    private string _selectedLink = "dashboard";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _selectedLink = NavManager.ToBaseRelativePath(NavManager.Uri);
    }

    private void SelectLink(string linkName)
    {
        _selectedLink = linkName;
        //NavManager.NavigateTo($"/{linkName}", forceLoad: true);
    }
}
